body {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

button {
	border: 0;
}

.container {
	width: 600px;
	display: flex;
	flex-direction: column;
	margin: auto;
	background: #fff;
	padding-bottom: 0px;
}

.headerLog {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 9px;
	width: 100%;
	position: relative;
	top: -40px;
}

.text {
	color: #8025ff;
	font-size: 48px;
	font-weight: 700;
}

.underline {
	width: 91px;
	height: 6px;
	background: #8025ff;
	border-radius: 9px;
}

.inputs {
	margin-top: 55px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.input {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 480px;
	height: 80px;
	background: #eaeaea;
	border-radius: 6px;
	margin-bottom: 0px;
}

.input img {
	margin: 0px 30px;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input input {
	height: 50px;
	width: 400px;
	background: transparent;
	border: none;
	outline: none;
	color: #797979;
	font-size: 19px;
}

.forgot-password {
	padding-left: 62px;
	margin-top: 27px;
	color: #797979;
	font-size: 18px;
}

.forgot-password span {
	color: #4c00b4;
	cursor: pointer;
}

.submit-container {
	display: flex;
	gap: 30px;
	margin: 60px auto;
}

.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 59px;
	color: #fff;
	background: #4c00b4;
	border-radius: 50px;
	font-size: 19px;
	font-weight: 700;
	cursor: pointer;
}

.gray {
	background: #eaeaea;
	color: #676767;
}

.NotValidM,
.NotValidP {
	padding: 0;
	margin: 0;
	color: rgb(255, 78, 78);
	position: absolute;
	margin-right: 300px;
	margin-top: 105px;
}

.NotValidM {
	margin-right: 330px;
}
